:root {
  /* colors */
  --dark: #2e2f42;
  --pressed-state: #404bbf;
  --primary-brand: #4d5ae5;
  --hero-color: #ffffff;
  --text: #434455;
  --light: #f4f4fd;
  --accent: #e7e9fc;
  --light-slate: #8e8f99;
  --ocean: #404bbf;
  --green: #31d0aa;

  /* cell */
  --items: 4;
  --items-gap: 24px;

  /* animation */
  --general-duration: 250ms;
  --general-timimng-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--dark);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  border: none;
  color: currentColor;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 15px;
    width: 1158px;
  }
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

/* <cell> */
.flex-container {
  display: flex;
  gap: var(--items-gap);
  flex-wrap: wrap;
}

.flex-container-item {
  flex-basis: calc(
    (100% - (var(--items) - 1) * var(--items-gap)) / var(--items)
  );
  height: auto;
}
/* </cell> */

/* <SVG> */
.svg-dark-color {
  fill: var(--dark);
}

.svg-primary-color {
  fill: var(--primary-brand);
}

.svg-light-slate-color {
  fill: var(--light-slate);
}

.svg-light-slate-border {
  stroke: var(--light-slate);
}

.svg-light-color {
  fill: #ffffff;
}

.svg-preligth-color {
  fill: var(--light);
}

.svg-light-transparent-color {
  fill: rgba(255, 255, 255, 0.1);
}

.svg-fill-none {
  fill: none;
}

/* </SVG> */

/* <MODAL> */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  transition-property: opacity, visibility;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);

  z-index: 1000;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 95%;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
}

@media screen and (min-width: 480px) {
  .modal-window {
    width: 392px;
  }
}

@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
  }
}

.close-button {
  cursor: pointer;

  margin-left: auto;

  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  font-size: 20px;

  border-radius: 100%;

  transition-property: background-color, border-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--ocean);
  border-color: var(--ocean);
  color: #fff;
}

.modal-wrapper.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contacts-form {
  font-family: "Roboto", sans-serif;
  font-size: 12px;

  line-height: 1.33;
  letter-spacing: 0.04em;

  color: var(--light-slate);
}

.form-box {
  margin-top: 8px;
}

.intro-text {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--dark);

  margin-top: 24px;
}

.input-margin-top {
  margin-top: 4px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 40px;
}

.form-label {
  line-height: 1;
}

.form-input {
  display: block;

  color: #000;

  width: 100%;
  height: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 11px 40px;

  transition-property: outline;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.form-input-space {
  margin-top: 8px;
}

.form-textarea {
  display: block;
  padding: 8px 16px;

  height: 120px;

  resize: none;
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);

  font-family: "Roboto", sans-serif;

  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;
}

.form-input:focus,
.checkbox_input:focus {
  outline: 1px solid var(--primary-brand);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 20px;

  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.form-input:focus + .input-icon {
  fill: var(--primary-brand);
}

.checkbox-box {
  margin-top: 16px;

  display: flex;
  align-items: center;

  gap: 8px;

  line-height: 1;
}

.form-check-label {
  display: flex;
  gap: 8px;
  align-items: center;
}

.modal-form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;

  border: 1.25px solid #2e2f42;
  border-radius: 2px;

  transition-property: background-color, border, outline;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.checkbox-input:checked + .form-check-label .modal-form-checkbox {
  background-color: var(--ocean);
  border-color: var(--ocean);
}

.checkbox-input:focus + .form-check-label .modal-form-checkbox {
  outline: 1px solid var(--pressed-state);
}

.price-policy-link {
  color: var(--primary-brand);
}

.checkbox-input {
  width: 16px;
  height: 16px;
}

.form-button {
  display: block;

  margin: 24px auto 0;

  background: #4d5ae5;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: #fff;

  width: 169px;
  height: 56px;

  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--ocean);
}

/* </MODAL> */

/* <modal-navigation-window> */
.modal-navigation-window {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 40px;

  background-color: #fff;

  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  z-index: 1001;

  transition-property: opacity, visibility;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

@media screen and (min-width: 768px) {
  .modal-navigation-window {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal-navigation-window.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.modal-navigation-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 1;

  margin-top: 16px;
}

.modal-navigation-item:not(:last-child) {
  margin-bottom: 40px;
}

.modal-navigation-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark);
}

.modal-soc-media-list {
  display: flex;
  justify-content: space-between;
}

.modal-navigation-item:last-child .modal-navigation-link {
  color: var(--pressed-state);
}

.modal-contacts-info-item:not(:last-child) {
  margin-bottom: 40px;
}

.modal-contacts-info-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--text);
}

.modal-contacts-info-item:first-child .modal-contacts-info-link {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;

  text-transform: capitalize;

  color: #4d5ae5;
}

.modal-soc-media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 100%;

  background-color: var(--primary-brand);
}
/* </modal-navigation-window> */

/* <HEADER> */
.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.website-logo {
  display: block;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;

  padding: 24px 0;

  line-height: 1.333;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

.logo-web {
  color: var(--primary-brand);
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: auto;
    margin-left: 76px;
  }
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-link {
  position: relative;
  display: inline-block;
  padding: 24px 0;

  font-size: 16px;
  font-weight: 500;

  line-height: 1.5;

  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.navigation-link:focus,
.navigation-link:hover {
  color: var(--pressed-state);
}

.navigation-link.current {
  color: var(--pressed-state);
}

.navigation-link.current::after {
  content: "";
  display: block;

  position: absolute;

  bottom: 0;

  height: 4px;
  width: 100%;

  background-color: var(--pressed-state);

  border-radius: 2px;
}

.contacts-info-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-info-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-info-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.contact-info {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text);

  transition-property: color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

@media screen and (min-width: 1200px) {
  .contact-info {
    padding: 24px 0;
  }
}

.contact-info:focus,
.contact-info:hover {
  color: var(--pressed-state);
}

.mobile-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  color: var(--dark);
  stroke: currentColor;
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}
/* </HEADER> */

/* <SCETION HERO> */
.hero {
  padding: 112px 0;
  text-align: center;

  /* background-color: var(--dark); */
  background: linear-gradient(
      to top,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/main_page/hero/hero_mob@1x.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* background-size: 1440px;*/
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(
        to top,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/main_page/hero/hero_mob@2x.jpg");

    background-size: 480px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(
        to top,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/main_page/hero/hero_tab@1x.jpg");

    background-size: 768px 436px;
    background-repeat: no-repeat;
    background-position: top;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background: linear-gradient(
          to top,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/main_page/hero/hero_tab@2x.jpg");

      background-size: 768px 436px;
      background-repeat: no-repeat;
      background-position: top;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background: linear-gradient(
        to top,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/main_page/hero/hero_des@1x.jpg");

    background-size: 1440px 600px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background: linear-gradient(
          to top,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/main_page/hero/hero_des@2x.jpg");

      background-size: 1440px 600px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  font-size: 36px;

  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-color);
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
  }
}

.hero-button {
  display: inline-block;
  padding: 16px 32px;

  background: var(--primary-brand);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  letter-spacing: 0.04em;
  color: var(--hero-color);

  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.hero-button:focus,
.hero-button:hover {
  background-color: var(--pressed-state);
}
/* </SCETION HERO> */

/* <BENEFITS SECTION> */

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}

.benefits-icon {
  text-align: center;
  padding: 24px 0;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;

  display: none;
}

@media screen and (min-width: 1200px) {
  .benefits-icon {
    display: block;
  }
}

.benefits-list {
  --items: 1;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    --items: 2;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    --items: 4;
  }
}

.benefits-item-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark);

  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits-item-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-item-title {
    font-weight: 500;
    font-size: 20px;

    line-height: 1.2;
    letter-spacing: 0.02em;

    text-align: left;
  }
}

.benefits-item-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/* </BENEFITS SECTION> */

/* <ACTIVITY SECTION> */
.activity {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activity {
    display: block;
  }
}

.activity-list {
  --items: 3;
}

.activity-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;

  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* </ACTIVITY SECTION> */

/* <OUR TEAM SECTION> */
.team {
  background-color: var(--light);
}

.team .container {
  width: 100%;
  max-width: 294px;
}

@media screen and (min-width: 768px) {
  .team .container {
    max-width: 584px;
    /* 582 - повинно бути, але тоді блоки не вміщаються */
  }
}

@media screen and (min-width: 1200px) {
  .team .container {
    max-width: 1158px;
  }
}

.team-list {
  --items: 1;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .team-list {
    --items: 2;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    --items: 4;
  }
}

.member {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  border-radius: 0px 0px 4px 4px;

  text-align: center;

  flex-basis: 264px;
  max-width: 264px;
}

.icon-background {
  transition-property: fill;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.member-soc-media-link:hover .icon-background,
.member-soc-media-link:focus .icon-background {
  fill: var(--ocean);
}

.team-title {
  margin-top: 0px;
  margin-bottom: 72px;
  font-size: 36px;

  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.member-info {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .member-info {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.member-name {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.member-occupation {
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.member-img {
  display: block;
}

.member-soc-media-list {
  --items: 4;
}

.member-soc-media-link {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: var(--primary-brand);
  border-radius: 100%;

  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.member-soc-media-link:hover,
.member-soc-media-link:focus {
  background-color: var(--ocean);
}
/* </OUR TEAM SECTION> */

/* <CUSTOMERS> */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers .container {
    max-width: 582px;
  }
}

.customers-list {
  --items: 2;
  --items-gap: 16px;
  row-gap: 76px;
}

@media screen and (min-width: 768px) {
  .customers-list {
    --items: 3;
    --items-gap: 16px;
    row-gap: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    --items: 6;
    --items-gap: 24px;
  }
}

.customers-client-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--light-slate);
  border-radius: 4px;

  padding: 16px 0;

  color: var(--light-slate);
  fill: currentColor;

  transition-property: color, border-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.customers-client-link:hover,
.customers-client-link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

.customers-title {
  font-weight: 700;
  font-size: 36px;

  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;

  text-transform: capitalize;

  color: #2e2f42;

  margin-top: 0;
  margin-bottom: 72px;
}
/* </CUSTOMERS> */

/* <SOLUTIONS SECTION> */

.sort-buttons-list {
  justify-content: flex-start;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .sort-buttons-list {
    justify-content: center;
  }
}

.sort-buttons-item {
  flex-basis: auto;
}

.sort-button {
  padding: 12px 24px;
  background: var(--light);

  border-radius: 4px;

  letter-spacing: 0.04em;
  color: var(--primary-brand);
  border: 1px solid var(--accent);

  transition-property: background-color, color, box-shadow, border;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.sort-button:focus,
.sort-button:hover {
  background-color: var(--pressed-state);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--pressed-state);
}

.solutions-list {
  --items: 1;
  row-gap: 48px;
  width: calc(100% + 2px);
}

@media screen and (min-width: 768px) {
  .solutions-list {
    --items: 2;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .solutions-list {
    --items: 3;
    row-gap: 48px;
  }
}

.solution-item {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition-property: box-shadow;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.extra-info-wrapper {
  overflow: hidden;
  position: relative;
}

.extra-info {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  background-color: var(--primary-brand);

  padding: 40px 32px;

  height: 100%;
  width: 100%;

  color: var(--light);

  transition-property: transform;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.extra-info-text {
  margin: 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.solution-link:focus .extra-info,
.solution-link:hover .extra-info {
  transform: translateY(0);
}

.solution-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .solution-img {
    max-width: 356px;
  }
}

@media screen and (min-width: 1200px) {
  .solution-img {
    max-width: 360px;
  }
}

.solution-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
}

.solution-class {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.info-wrapper {
  padding: 32px 16px;
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* </SOLUTIONS SECTION> */

/* <FOOTER> */
.footer {
  background-color: var(--dark);
  color: var(--light);

  padding: 100px 0;

  align-items: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  gap: 72px 16px;
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    max-width: 582px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    gap: 0;
    flex-wrap: nowrap;
  }
}

.footer-center {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .footer-center {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-website-logo {
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-website-logo {
    text-align: left;
  }
}

.inspire-text {
  margin-bottom: 0;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  width: 264px;
}

@media screen and (min-width: 1200px) {
  .footer-media {
    margin-left: 120px;
  }
}

.footer-media-list {
  --items-gap: 16px;
}

.footer-media-item {
  flex-basis: auto;
}

.footer-media-link {
  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  width: 40px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0.1);
}

.footer-media-link:hover {
  background-color: var(--green);
}

.footer-title {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.02em;

  color: #ffffff;

  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-sub {
    margin-left: 80px;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-mail-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  border-radius: 4px;
  padding: 8px 16px;

  background-color: transparent;

  color: rgba(255, 255, 255, 0.6);

  font-size: 12px;
  line-height: 24px;

  width: 100%;
  height: 40px;

  transition-property: outline;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

@media screen and (min-width: 768px) {
  .footer-mail-input {
    width: 264px;
  }
}

.footer-mail-input:focus {
  outline: 1px solid var(--pressed-state);
}

.footer-form-submit {
  width: 165px;
  height: 40px;

  background: var(--primary-brand);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-timimng-function);
}

.footer-form-submit:hover,
.footer-form-submit:focus {
  background-color: var(--ocean);
}

/* </FOOTER> */
